/* 1.- Usar ul li, anidados

2.- Por default ul anidado tiene la propiedad:

      #navbar ul li ul {
        display: none;
      }

3.- Menu anidado se muestra al hacer li:hover de la forma:

      #navbar ul li:hover ul {
        display: block;
        position: absolute;
        left: 0;
        width: 200px;
        margin-top: 1rem;
      }
*/
:root {
  --primary-color: coral;
  --secondary-color: chocolate;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navbar ul {
  list-style: none;
}

#navbar ul li {
  color: #333;
  display: inline-block;
  padding: 1rem;
  position: relative;
  /* border: 1px solid purple; */
}

#navbar ul li a {
  color: #333;
  text-decoration: none;
}

/* Hide nested ul by default */
#navbar ul li ul {
  display: none;
}

#navbar ul li:hover {
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
}

/* Nota: Cambia el color del link AL COLOCAR PUNTERO SOBRE li */
#navbar ul li:hover a {
  color: #fff;
}

/* Nested dropdown show */
#navbar ul li:hover ul {
  display: block;
  position: absolute;
  left: 0;
  width: 200px;
  margin-top: 1rem;
}

/* ********************* */
/* Nota: Inicia CSS a ul li anidado */
#navbar ul li:hover ul li {
  display: block;
  background: #e7e7e7;
  border-bottom: #aaa 1px solid;
  font-size: 0.9rem;
  z-index: 1;
}

#navbar ul li:hover ul li a {
  color: #333;
}

#navbar ul li:hover ul li:hover {
  background: #e0e0e0;
  color: inherit;
}

#navbar ul li:hover ul li span {
  float: right;
  color: #fff;
  background: salmon;
  padding: 0.2rem 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 5px;
}

#navbar ul li:hover ul li:hover span {
  background: var(--secondary-color);
}

/* Nota: Termina CSS a ul li anidado */
/* ********************* */

#showcase {
  display: flex;
  flex-direction: column;
  height: 300px;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background: #bbb; */
  background: var(--primary-color);
  padding: 0 2rem;
  animation: transitionIn 0.85s ease-in-out;
}

#showcase h1 {
  font-size: 4rem;
  color: #fff;
  animation: h1-inicio 2.3s ease-in-out forwards;
  transform: scale(0);
}

@keyframes h1-inicio {
  90% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateY(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateY(0);
  }
}


@media(max-width:600px) {
  #navbar ul li {
    /* display: flex;
    flex-direction: column; */

    display: block;
  }

  /* Nota: Muestra el menu anidado por encima del resto de los elementos */
  #navbar ul li:hover ul {
    width: 100%;
    position: relative;
  }
}